<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="headeer">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div th:fragment="navigator">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">Pretty Cool Serwis</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link" href="/">Home</a>
                    <!--Kiedy jesteśmy zalogowani-->
                    <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link" href="/view/client/profile">Profile</a>
                    <a sec:authorize="isAuthenticated()" class="nav-link" href="/play/multiply">Playground</a>
                    <a sec:authorize="isAuthenticated()" class="nav-link" href="/view/servicetask/list">Tasks</a>
                    <a sec:authorize="isAuthenticated()" class="nav-link" href="/logout">Logout</a>

                    <!--Nie jesteśmy zalogowani-->
                    <a sec:authorize="!isAuthenticated()" class="nav-link" href="/login">Login</a>
                    <a sec:authorize="!isAuthenticated()" class="nav-link" href="/register">Register</a>
                </nav>
            </div>
        </header>
    </div>
</div>

<footer th:fragment="footer">
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
</footer>
</body>
</html>